:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    
    --color01: #000428;
    --color02: #253242;
    --color03: #2E486B;
    --color04: #00626d;
    --color05: #0097a7;
    --color06: #1178B2;
    --color07: #638EFF;
    --color08: #60AABB;
    --color09: #5FC1CA;
    --color10: #ABCBFA;
    --color11: #84D5C6;
    --color12: #B5DAC1;
    --color13: #E7FAF4;
    --color14: #851452;
    --color15: #bb3324;
    --color16: #EE5543;
    --color17: #F88DA7;
    --color18: #EBA0A0;
    --color19: #f1b46d;
    --color20: #fdd070;   

    --fuente: 'Krub', sans-serif;
}

/*** Globales ***/

html {
    font-size: 62.5%;
    box-sizing: border-box;     
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    background: #000428;
    background: linear-gradient(to right, var(--color06), var(--color01));
}

h1 {
    font-size: 3.8rem;
    font-weight: normal;
    text-align: center;   
}

a {
    text-decoration: none;
}

.no-margin {
    margin: 0;    
}

.no-padding {
    padding: 0;
}

/*** Header ***/

.contenedor {
    width: 80%;
    margin: 0 auto;    
}

.menu {    
    margin: 1.5rem 0;
    padding: 1rem 0;
}

.logo {
    color: var(--blanco);
    margin: 1rem;
}

h1>span {
    font-weight: bold;   
}

.enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: .5rem;  
}

.enlace:hover {
    background-color: var(--color14);
}

@media (min-width: 768px) {
    .menu {
        display: flex;        
        align-items: center;        
    }

    .titulo-logo {
        text-align: start;        
    }
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        justify-content: flex-end;
    }
    .navegacion a {
        padding: 1rem 2rem;
    }
}

.menu-item {
    flex-grow: 1;
}

/*** Formulario ***/

.formulario {
    background-color: var(--color12);
    width: 80%;
    margin: 1rem auto;    
}

.radio-button {
    display: flex;
    flex-direction: column;    
    margin: 1rem;
}

fieldset {
    margin: 1rem;
}

.boton {
    background-color: var(--color14);
    color: var(--blanco);
    padding: 1rem 3rem;    
    font-size: 2rem;
    font-weight: bold;    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;    
    border: none;  
    border-radius: .5rem;  
}

.boton:hover {
    cursor: pointer;
}

@media (min-width: 576px) {
    .input-text,
    .boton {
        width: 50%; 
    }   
}

@media (min-width: 768px) {
    .input-text,
    .boton {
        width: 25%;
    }    
}

.contenido {
    padding: 0 1rem 1rem 1rem;
}

.ocultar {
    display: none;
}