:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    
    --color01: #000428;
    --color02: #253242;
    --color03: #2E486B;
    --color04: #00626d;
    --color05: #0097a7;
    --color06: #1178B2;
    --color07: #638EFF;
    --color08: #60AABB;
    --color09: #5FC1CA;
    --color10: #ABCBFA;
    --color11: #84D5C6;
    --color12: #B5DAC1;
    --color13: #E7FAF4;
    --color14: #851452;
    --color15: #bb3324;
    --color16: #EE5543;
    --color17: #F88DA7;
    --color18: #EBA0A0;
    --color19: #f1b46d;
    --color20: #fdd070;   

    --fuente: 'Krub', sans-serif;
}

/*** Globales ***/

html {
    font-size: 62.5%;
    box-sizing: border-box;     
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    background: #000428;
    background: linear-gradient(to right, var(--color06), var(--color01));
}

h1 {
    font-size: 3.8rem;
    font-weight: normal;
    text-align: center;   
}

a {
    text-decoration: none;
}

.no-margin {
    margin: 0;    
}

.no-padding {
    padding: 0;
}

/*** Header ***/

.contenedor {
    width: 50%;
    margin: 0 auto;    
}

.menu {    
    margin: 1.5rem 0;
    padding: 1rem 0;
}

.logo {
    color: var(--blanco);
    margin: 1rem;
}

h1>span {
    font-weight: bold;   
}

.enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: .5rem;  
}

.enlace:hover {
    background-color: var(--color14);
}

@media (min-width: 768px) {
    .menu {
        display: flex;        
        align-items: center;        
    }

    .titulo-logo {
        text-align: start;        
    }
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        justify-content: flex-end;
    }
    .navegacion a {
        padding: 1rem 2rem;
    }
}

.menu-item {
    flex-grow: 1;
}

/*** Formulario ***/

.formulario {
    background-color: var(--color12);
    width: 50%;
    margin: 1rem auto;   
    padding-top: .5rem; 
}

.radio-button {
    display: flex;
    flex-direction: column;    
    margin: 1rem;
}

fieldset {
    margin: 1rem;
}

.subtitulo {
    font-weight: bold;
    /* font-size: 2.4rem; */
    color: var(--color14);    
    /* padding-top: 1.5rem; */
    /* padding-left: 1rem; */
    /* margin-top: 0;
    margin-bottom: 1rem; */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
}

.input-text {
    width: 100%;
    border: none;    
    padding: .5rem;   
    margin-bottom: 1rem; 
}


.contenido {    
    margin: 0 1rem;
}

.boton {
    background-color: var(--color14);
    color: var(--blanco);    
    padding: 1rem;   
    font-size: 1.6rem;
    font-weight: bold;    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;        
    border: none;  
    border-radius: .5rem;
}

.boton:hover {
    cursor: pointer;
}

.boton:last-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 576px) {
    .input-text,
    .boton {
        width: 50%; 
        margin-bottom: 1rem;        
    } 
    .boton:last-child {
        margin-top: 0;        
    }  
    .contenido {
        display: flex;
        justify-content: flex-start;
        gap: 5rem;
    }   
}

@media (min-width: 768px) {
    .input-text {
        width: 100%;
    }
    .boton {
        width: 50%;        
    }     
}

@media (min-width: 992px) {
    .input-text {
        width: 50%;
    }
    .boton {
        width: 33%;        
    }     
}

.ocultar {
    display: none;
}

.resultado {
    padding: 1rem;
    background-color: #a6fc8c;
    display: none;
}

/*** Footer ***/

.footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    color: #FFFFFF;    
 }

.footer .corazon {  
    color: red;
    font-weight: bold;
}
  
.footer span {  
    font-weight: bold;
}


/*** MODAL ***/
.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}
  
.show {
    pointer-events: auto;
    opacity: 1;
}
  
.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--color12);
}

.resultado-modal {
    text-align: left;
    font-size: 18px;
}
  
.modal h3 {
    margin: 1rem auto;
    font-size: 20px;
    text-transform: uppercase;
}

.boton.close {
    margin: 1rem;
    max-width: 100px;
}

li span {
    font-weight: bold;
    line-height: 1.5;
}

.mensaje-error {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}